source https://www.nuget.org/api/v2
source https://api.nuget.org/v3/index.json
strategy: min
lowest_matching: true
storage: none
nuget FSharp.Core >= 6.0.1
nuget Microsoft.SourceLink.GitHub 1.1.1 copy_local: true
nuget BenchmarkDotNet >= 0.13.9
nuget Ply >= 0.3.1


group Test
  storage: none
  source https://www.nuget.org/api/v2
  source https://api.nuget.org/v3/index.json
  nuget Expecto >= 10.1.0
  nuget TimeProviderExtensions
  nuget YoloDev.Expecto.TestSdk >= 0.14.2
  nuget Microsoft.NET.Test.Sdk >= 17.7.2
  nuget altcover >= 8.6.68
  nuget FSharp.Control.TaskSeq

// [ FAKE GROUP ]
group Build
    storage: none
    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    nuget Fake.IO.FileSystem ~> 6
    nuget Fake.Core.Target ~> 6
    nuget Fake.Core.ReleaseNotes ~> 6
    nuget FAKE.Core.Environment ~> 6
    nuget Fake.DotNet.Cli ~> 6
    nuget FAKE.Core.Process ~> 6
    nuget Fake.DotNet.AssemblyInfoFile ~> 6
    nuget Fake.Tools.Git ~> 6
    nuget Fake.DotNet.Paket ~> 6
    nuget Fake.Api.GitHub ~> 6
    nuget Fake.BuildServer.GitHubActions ~> 6
    nuget Argu
    nuget Octokit >= 0.50
    nuget MSBuild.StructuredLogger 2.1.858

